
.results_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results_div > svg {
    display: block;
    height: 90%;
    width: 100%;
    border: 2px solid black;
    justify-self: center;
    cursor: move;
    background-color: white;
}


.results_div.correct > svg {
    background-color: rgba(0, 255, 0, 0.2);
    transition: background-color 0.5s;
}


.results_div > svg > g > polygon{
    fill: rgba(0, 255, 0, 0.0);
    transition: background-color 0.0s!important;
}



.results_div.correct > svg > g > path{
    fill: rgba(0, 255, 0, 0.0);
    transition: background-color 0.0s!important;
}

.results_div polygon {
    pointer-events: none;
}

.results_div ellipse {
    pointer-events: all;
    /* fill: white; */
}

.resultsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
    background-color: #ffffff;
    opacity: 0.7;
    background-image:  radial-gradient(#1b0b2a 1.1px, transparent 1.1px), radial-gradient(#1b0b2a 1.1px, #ffffff 1.1px);
    background-size: 44px 44px;
    background-position: 0 0,22px 22px;
}