
.results_div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.results_div > svg {
    display: block;
    height: 90%;
    width: 100%;
    border: 2px solid black;
    justify-self: center;
}


.results_div.correct > svg {
    background-color: rgba(0, 255, 0, 0.2);
    transition: background-color 0.5s;
}


.results_div.correct > svg > g > polygon{
    fill: rgba(0, 255, 0, 0.0);
    transition: background-color 0.0s!important;
}



.results_div.correct > svg > g > path{
    fill: rgba(0, 255, 0, 0.0);
    transition: background-color 0.0s!important;
}

.results_div polygon {
    pointer-events: none;
}

.results_div ellipse {
    pointer-events: all;
}

.resultsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}