
.results_div {
    height: 100%;
}

.results_div > svg {
    display: block;
    height: 100%;
    width: 100%;
}


.results_div polygon {
    pointer-events: none;
}

.results_div ellipse {
    pointer-events: all;
}

.resultsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}